@charset "UTF-8";
*{
  text-shadow: 1px 1px 1px black;
}
body{color: white;}
span {
    cursor: pointer;
  }
  
  .desafios-menu {
    display: none;
  }

 body{
background: linear-gradient(to right,
rgb(70, 105, 170),
rgb(100, 145, 200),
rgb(120, 170, 225),
rgb(141, 178, 230),
rgb(147, 173, 231));
 }


#aqui:hover{color: rgba(255, 255, 255, 0.493);}
li{
  font-weight: 900;
}
li:hover{
  color: rgba(255, 255, 255, 0.493);
}
a,li,ul{
  width: fit-content;
}
#aqui{color: #0366d6;}
a,:link{
  color: #0366d6;
}
a,#aqui:visited{
  color: white;
} 

#cor{
 color:#0366d6;
 cursor: default;
}
